.timer {
    margin-bottom: 3rem;

    color: var(--text);
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    font-variant-numeric: tabular-nums;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.button {
    padding: 1.25rem;
    border-radius: 100px;

    color: var(--background);
    background-color: var(--primary);
}

.reset {
    color: var(--text);
    background-color: var(--surface);
}
