.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 0.75rem;

    color: var(--text);
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
}

.subtitle {
    color: var(--text-muted);
    font-weight: 500;
}
